<header>
  <nav>
    <ul>
      <li><a href="likes">Likes</a></li>
      <li>Matches</li>
      <li>Let's find some love</li>
    </ul>
  </nav>
  <a href="/views/home.ejs"
    ><img src="images/logo.png" alt="perfect logo" class="logo" />
  </a>
</header>
