* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(/images/achtergrond.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

header {
  background: #252531;
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  align-items: center;
}

header img {
  height: 3.2em;
}

.logo {
  height: 2em;
  margin-left: 2em;
}

header .profilepicture {
  border-radius: 100%;
  margin-right: 2em;
}

nav {
  position: absolute;
  right: 20%;
}
nav ul {
  display: flex;
}
nav li {
  color: white;
  font-weight: 300;
  padding-right: 5em;
}

nav li:last-of-type {
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8em;
  align-items: center;
}

.person {
  color: white;
  display: flex;
  background-color: #252531;
  width: 35%;
  margin-top: 5em;
}

.person img {
  display: block;
  width: 100%;
}

.text {
  width: 20em;
  margin: 1em;
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

.text p {
  padding-top: 2em;
  font-size: 0.7em;
  font-weight: 100;
}

#likeForm .reviewButtons {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

#likeForm .megalike,
#likeForm .like,
#likeForm .dislike {
  margin: 2rem;
  display: block;
  height: 8em;
  width: 8em;
  background-repeat: no-repeat;
}

#likeForm .userId,
#likeForm #like,
#likeForm #megalike,
#likeForm #dislike {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
