<%- include ("includes/head.ejs") %>

<title>add a user to like</title>

<h1>New user</h1>

<form action="/" method="post">
  <legend>New user</legend>
  <label for="firstname">What is your first name?</label>
  <input type="text" id="firstname" name="firstname" />
  <label for="lastname">How old are you?</label>
  <input type="number" id="age" name="age" />
  <label for="city">Where do you live?</label>
  <input type="text" id="city" name="city" />
  <label for="description" name="description"
    >Tell us something about you!<textarea
      name="description"
      rows="5"
    ></textarea>
  </label>
  <button>add</button>
</form>
